body {
    background-color: black;
    color: white;
    font-family:'Courier New', Courier, monospace;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: fixed;
}


* {
    margin: 0;
    padding: 0;
}

:root {
    --time: 30;
}


.container {
    width: 90vw;
    height: 75vh;
    border: 1px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;
    margin-left: 48%;
    transform: translate(-50%);
    border-radius: 5px;
    margin-top: 20px;
    background-image: linear-gradient(to right, transparent 30px, rgba(65, 65, 65, 0.5) 1px),linear-gradient(to bottom, transparent 30px, rgba(65, 65, 65, 0.5) 1px);
    background-size: calc(30px + 1px) calc(30px + 1px);
    background-position: calc(50% - 15.5px) calc(50% - 15px);
    background-attachment:fixed;
}

.title {
    text-align: center;
    margin-top:30px;
}




.sun {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 5vw;
    width: 5vw;
    background: radial-gradient(orange,yellow);
    box-shadow: 0px 0px 20px rgb(255, 179, 0);
    border-radius: 50%;
}

.orbit {
    background-color: rgba(87, 87, 87, 0);
    border: 1px solid rgba(120, 120, 120, 0.57);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#o1 {
    height: 10vw;
    width: 10vw;
}

#o2 {
    height: 15vw;
    width: 15vw;
}

#o3 {
    height: 20vw;
    width: 20vw;
}

#o4 {
    height: 25vw;
    width: 25vw;
}

#o5 {
    height: 30vw;
    width: 30vw;
}

#o6 {
    height: 35vw;
    width: 35vw;
}

#o7 {
    height: 40vw;
    width: 40vw;
}

#o8 {
    height: 45vw;
    width: 45vw;
}

.p {
    animation-name: revolve;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-color: rgba(87, 87, 87, 0);
    border: none;
    /*border-radius: 50%;*/
    position: absolute;
    top: 50%;
    left: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.planet {
    height: 1vw;
    width: 1vw;
    margin-top: -0.7vw;
    border-radius: 50%;
    position: absolute;
}

#mercury {
    background-color: rgb(165, 75, 42);
}

#venus {
    background-color: rgb(222, 163, 0);
}

#earth {
    background: linear-gradient(green, blue)
}

#mars {
    background-color: rgb(165, 48, 42);
}

#jupiter {
    background-color: rgb(201, 122, 73);
}

#saturn {
    background-color: rgb(255, 219, 121);
}

#uranus {
    background-color: rgb(146, 255, 248);
}

#neptune {
    background-color: rgb(0, 91, 238);
}

#p1 {
    height: 10vw;
    width: 10vw;
    margin-left: -5vw;
    margin-top: -5vw;
    animation-duration: calc(0.241s *var(--time));
}

#p2 {
    height: 15vw;
    width: 15vw;
    margin-left: -7.5vw;
    margin-top: -7.5vw;
    animation-duration: calc(0.615s *var(--time));
}

#p3 {
    height: 20vw;
    width: 20vw;
    margin-left: -10vw;
    margin-top: -10vw;
    animation-duration: calc(1s *var(--time));
}

#p4 {
    height: 25vw;
    width: 25vw;
    margin-left: -12.5vw;
    margin-top: -12.5vw;
    animation-duration: calc(1.88s *var(--time));
}

#p5 {
    height: 30vw;
    width: 30vw;
    margin-left: -15vw;
    margin-top: -15vw;
    animation-duration: calc(11.9s *var(--time));
}

#p6 {
    height: 35vw;
    width: 35vw;
    margin-left: -17.5vw;
    margin-top: -17.5vw;
    animation-duration: calc(29.4s *var(--time));
}

#p7 {
    height: 40vw;
    width: 40vw;
    margin-left: -20vw;
    margin-top: -20vw;
    animation-duration: calc(83.7s *var(--time));
}

#p8 {
    height: 45vw;
    width: 45vw;
    margin-left: -22.5vw;
    margin-top: -22.5vw;
    animation-duration: calc(163.7s *var(--time));
}

@keyframes revolve {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* The slider itself */
#slider {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 1px;
    background: #ffffff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 30px;
}

#slider:hover {
    opacity: 1;
}
#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 20px;
    background: #ffffff;
    cursor: pointer;
}

#slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #ffffff;
    cursor: pointer;
}
